:root {
  /* variables */
  /* colors */
  --primary-color-rgb: 110,223,246;
  --primary-color: rgb(var(--primary-color-rgb));
  --secondary-color-rgb: 110,223,246;
  --secondary-color: rgb(var(--secondary-color-rgb));
  --tertiary-color-rgb: 50,85,127;
  --tertiary-color: rgb(var(--tertiary-color-rgb));

  /* h2 underlining */
  --underline-intrinsic-width: 8;
  --underline-width: 12;
  --underline-color: var(--secondary-color);
  --underline-cap-width: 4px;
  --underline-offset-y: -2px;
  --underline-padding-x: 0.12em;
}

body {
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

section {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--tertiary-color);
}

.h2-content {
  --underline-width-scale: calc(var(--underline-width) / var(--underline-intrinsic-width));
  padding: 0 calc(var(--underline-padding-x) + calc(var(--underline-cap-width) * var(--underline-width-scale)));
  box-decoration-break: clone;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(180deg, var(--underline-color), var(--underline-color)),
    var(--cap-image-left),
    var(--cap-image-right);
  background-position-x:
    calc(var(--underline-cap-width) * var(--underline-width-scale)),
    0,
    100%;
  background-position-y: calc(100% - var(--underline-offset-y) * -1);
  background-size:
    calc(100% - calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)) calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px),
	  auto calc(var(--underline-width) * 1px);

  --underline-width: 20;
  --underline-offset-y: -2px;

  --cap-image-left: url(../img/cap-left.svg);
  --cap-image-right: url(../img/cap-right.svg);
}

p {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  transition: box-shadow .3s;
  color: inherit;
  overflow: hidden;
}

a:hover {
  box-shadow: inset 0 -40px 0 rgba(var(--secondary-color-rgb), 0.5), 0 2px 0 var(--tertiary-color);
  transition: box-shadow .3s;
  color: black;
}

a.nav-link {
  text-transform: uppercase;
  color: black;
}

a.nav-link.active {
  box-shadow: inset 0 -40px 0 rgba(var(--secondary-color-rgb), 0.5), 0 2px 0 var(--tertiary-color);
}

.contact-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  font-weight: bold;
}

.btn-primary {
  background-color: var(--secondary-color);
  color: black;
  border-color: black;
}

.btn-primary:hover {
  background-color: black;
  border-color: black;
}

.footer-text-body {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.navbar {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

footer {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
}

.navbar-brand {
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

a.navbar-brand:hover {
  box-shadow: inset 0 -60px 0 rgba(var(--secondary-color-rgb), 0.5), 0 2px 0 var(--tertiary-color);
}

.page-cover {
  background-image: url(../img/justice-bg.jpg);
  background-size:cover;
  height: 25rem;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  word-wrap: break-word;
}

.title-text-item {
  background-color: black;
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 .25rem rgba(var(--primary-color-rgb),.45);
}
